<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <!-- viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>GortFolio</title>
</head>

<body>
    <div class="container">
        <div class="my-4 py-4 text-center" style="background-color:aliceblue">
            <h2>ToDo機能</h2>
            <form method="post" action="/new">
                <p>内容：<input type="text" name="text" size="30" placeholder="入力してください"></p>
                <p>状態
                    <select name="status">
                        <option value="未実行">未実行</option>
                        <option value="実行中">実行中</option>
                        <option value="終了">終了</option>
                    </select>
                </p>
                <p><input type="submit" value="新規保存"></p>
            </form>
            <table class="table table-sm w-50 mx-auto bg-white">
                <thead>
                    <tr>
                        <th scope="col-2"></th>
                        <th scope="col-2">内容</th>
                        <th scope="col-2">状態</th>
                        <th scope="col-2"></th>
                        <th scope="col-2"></th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .todos }}
                    <tr>
                        <th></th>
                        <td>{{ .Text }}</td>
                        <td>{{ .Status }}</td>
                        <td><a href="/detail/{{.ID}}">編集</a></td>
                        <td><a href="/delete_check/{{.ID}}">削除</a></td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <!-- しりとり -->
        <div class="my-4 py-4 text-center" style="background-color: mintcream">
            <h2>しりとり</h2>
            <p>最初の文字：しりとりの「り」からです</p>
            <p>平仮名で入力して下さい</p>
            {{ if .lastLetter }}
            <p>次は「{{ .lastLetter }}」</p>
            {{ end }}
            <form method="post" action="/shiritori">
                <p>
                    {{ if .lastLetter }}
                    <input type="text" value="{{ .lastLetter }}" name="shiritoriWord">
                    {{ else }}
                    <input type="text" value="り" name="shiritoriWord">
                    {{ end }}
                    <input type="submit" value="送信">
                </p>
                {{ if .shiritoriMessage }}
                <p class="text-danger">{{ .shiritoriMessage }}</p>
                {{ end }}
            </form>
        </div>
    </div>

    <!-- jQuery、Popper.js、Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>