<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>GortFolio</title>
</head>

<body>
    <h1>一覧</h1>
    <p>{{ .data }}</p>
    <form method="post" action="/new">
        <p>名前<input type="text" name="name" size="30" placeholder="入力してください"></p>
        <p>年齢<input type="number" name="age"></p>
        <p><input type="submit" value="Send"></p>
    </form>
    <ul>
        {{ range .people }}
        <li>{{.Name}}さん {{.Age}}才</li>
        {{ end }}
    </ul>
</body>

</html>